<%= form_with(model: staff, local: true) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>
  <%= company.name %>
  </h2>

  <div class="field">
  <%# どうすれば@company.idの値をpostできるのかわからない。 %>
    <%#= form.label :company_id %>
    <%#= form.text_field :company_id %>
    <%# if @company %>
      <%= form.hidden_field :company_id, :value => company.id %>
    <%# elsif %>
      <%# binding.pry %>
      <%#= form.hidden_field :company_id, :value => @company_id %>
    <%# end %>
  </div>

  <div class="field">
    <%= form.label :family_name, '氏' %>
    <%= form.text_field :family_name %>
  </div>

  <div class="field">
    <%= form.label :first_name, '名' %>
    <%= form.text_field :first_name %>
  </div>

  <%# <div class="field"> %>
    <%#= form.label :password_digest %>
    <%#= form.text_field :password_digest %>
  <%# </divs> %>

  <div class="field">
    <%= form.label :password, 'パスワード' %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'パスワード再入力' %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :email, 'メールアドレス' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone, '電話番号' %>
    <%= form.number_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
