<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @staff.company.name %>
</p>

<p>
  <strong>名前:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <%= link_to 'メッセージ一覧', rooms_path %>
</p>

<p>
  <%= link_to '企業情報', company_path(@staff.company) %>
</p>

<%= link_to 'プロフィール編集', edit_staff_path(@staff) %> </br>
<%= link_to '戻る', :back %> 