<% if @result.to_sql != "SELECT `recruitments`.* FROM `recruitments`" %>
  <div class = "col-10 card">
    <div class="card-body"><%= '検索結果は' + @result_public_ary.size.to_s + '件でした。' %></div>
  </div>
<% end %>
<% @result_public_ary.each do |result| %>
  <div class="col-sm-6 mb-3">
    <div class="card h-100">
      <%= image_tag(url_for(controller: :get_photo, :id => result), class: :'card-img-toop', alt: :'Card image cap') %>
      <%# <div style="height: 240px;"> %>
        <div class="card-body" style="height: 240px;">
          <h5 class="card-title"><%= result.title %></h5>
          <p><%= result.company.name %></p>
          <p><%= result.occupation.category %></p>
          <%#<p class="card-text d-block h-30", style="overflow: hidden;"><%#%= result.body</p> %>
          <p><%= result.deadline %></p>
          <p>現在の応募者数 <%= result.entries.size %>人</p>
          <p>現在のストック数 <%= result.stocks.size %></p>
          <% if user_signed_in? %>

            <%= link_to 'ストック', "#{current_user.stocks.where(recruitment_id: result).exists? ? stocks_destroy_path(result) : stocks_create_path(result)}", class: :'btn btn-info float-right', id: "#{result.id}", remote: true %>
            <%= link_to '応募する', "#{current_user.entries.where(recruitment_id: result).exists? ? entries_destroy_path(result) : new_entry_path(result)}", class: :'btn btn-success float-right entry_btn' %>
            <%= link_to '詳細表示', recruitment_path(result), class: :'btn btn-primary float-right' %>
          <% else %>
            <%= link_to 'ストック', login_index_path(result), class: :'btn btn-info float-right' %>
            <%= link_to '応募する', login_index_path(result), class: :'btn btn-success float-right' %>
            <%= link_to '詳細表示', login_index_path(result), class: :'btn btn-primary float-right' %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>