<% unless @results.to_sql == "SELECT `recruitments`.* FROM `recruitments` WHERE `recruitments`.`status` = 1" %>
    <div class="card-body"><%= "検索結果は#{@results.size.to_s}件でした。" %></div>
<% end %>
<% @results_of_page.each do |result| %>

    <div class="card mb-5">
      <%=link_to image_tag(url_for(controller: :get_photo, :id => result), class: :'card-img-top', alt: :'Card image cap'), recruitment_path(result) %>
      <div class="card-body">
          <p class="card-title"><%= link_to result.title, recruitment_path(result) %></p>
          <p><%= result.company.name %></p>
          <% result.industry_list.each do |tag| %>
            <span class="badge badge-info">
              <%= tag %>
            </span>
          <% end %>

          <% result.interest_list.each do |tag| %>
            <span class="badge badge-primary">
              <%= tag %>
            </span>
          <% end %>

          <p>
            体験日:
            <%= result.schedule %>
          </p>

          <p>
            締め切り:
            <%= result.deadline %>
          </p>

      <div class = "d-flex">
        <div id = "recruitment_status">
          <p>現在の応募者数 <%= result.entries.size %>人/定員<%= result.capacity %>人</p>
          <p>現在のストック数 <%= result.stocks.size %></p>
        </div>

        <%# <div class = "btn"> %>
        <%#%= link_to '詳細表示', recruitment_path(result), class: :'btn btn-primary float-right' %>
        <%# </div> %>

          <% if current_user %>
            <% if current_user.stocks.where(recruitment_id: result).exists? %>
              <div class = "btn">
                <%= link_to('ストック済み', stocks_destroy_path(result), class: :'btn btn-success float-right', id: "#{result.id}", remote: true) %>
              </div>

            <% else %>
              <div class = "btn">
                <%= link_to('ストックする', stocks_create_path(result), class: :'btn btn-success float-right', id: "#{result.id}", remote: true) %>
              </div>
            <% end %>

            <%# if current_user.entries.where(recruitment_id: result).exists? %>
              <%# <div class = "btn"> %>
                <%#= link_to('応募済み', entries_destroy_path(result), class: :'btn btn-secondary float-right disabled') %>
              <%# </div> %>
            <%# else %>
              <%# <div class = "btn"> %>
                <%#= link_to('応募する', new_entry_path(result), class: :'btn btn-info float-right') %>
              <%# </div> %>
            <%# end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>