<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @occupation.category %>
</p>

<p>
  <strong>Interests count:</strong>
  <%= @occupation.interests_count %>
</p>

<%= link_to 'Edit', edit_occupation_path(@occupation) %> |
<%= link_to 'Back', occupations_path %>
