<%= form_with(model: recruitment, local: true, mltipart: true) do |form| %>
  <% if recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>

      <ul>
      <% recruitment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :company_id, :value => staff.company_id %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :職種 %>
    <%= form.collection_select( :occupation_id, occupations, :id, :category) %>
  </div>

  <div class="field">
    <%= form.label :郵便番号 %>
    <%= form.text_field :address_zipcode %>
  </div>

  <div class="field">
    <%= form.label :都道府県 %>
    <%= form.text_field :prefecture %>
  </div>

  <div class="field">
    <%= form.label :市区町村 %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :番地 %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :建物名 %>
    <%= form.text_field :building %>
  </div>

  <div class="field">
    <%= form.label :data, 'PR画像:' %>
    <%= form.file_field :data%>
  </div>

  <div class="field">
    <%= form.label :本文 %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :締め切り %>
    <%= form.date_select :deadline %>
  </div>

  <p>応募者への質問を5つまで設定できます</p>

  <div class="field">
    <%= form.label :質問1 %>
    <%= form.text_area :question1 %>
  </div>

  <div class="field">
    <%= form.label :質問2 %>
    <%= form.text_area :question2 %>
  </div>

  <div class="field">
    <%= form.label :質問3 %>
    <%= form.text_area :question3 %>
  </div>

  <div class="field">
    <%= form.label :質問4 %>
    <%= form.text_area :question4 %>
  </div>

  <div class="field">
    <%= form.label :質問5 %>
    <%= form.text_area :question5 %>
  </div>

  <div class="field">
    <%= form.label '下書き' %>
    <%= form.radio_button :status, :draft %>
    <%= form.label '公開' %>
    <%= form.radio_button :status, :published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
