<%= form_with(model: recruitment, local: true, mltipart: true) do |form| %>
  <% if recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>

      <ul>
      <% recruitment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :company_id, :value => staff.company_id %>

  <%= form.collection_select( :occupation_id, occupations, :id, :category) %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :data, 'PR画像:' %>
    <%= form.file_field :data%>
  </div>

  <div class="field">
    <%= form.label '下書き' %>
    <%= form.radio_button :status, :draft %>
    <%= form.label '公開' %>
    <%= form.radio_button :status, :published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
