<%= form_with(model: recruitment, local: true, mltipart: true) do |form| %>
  <% if recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>

      <ul>
      <% recruitment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if staff %>
    <%= form.hidden_field :company_id, :value => staff.company_id %>
  <% else %>
    <%= form.hidden_field :company_id, :value => recruitment.company_id %>
  <% end %>

  <div class="field">
    <%= form.label 'インターンのみの募集' %>
    <%= form.radio_button :category, :internship %>
    <%= form.label '採用のみの募集' %>
    <%= form.radio_button :category, :employment %>
    <%= form.label '両方の募集' %>
    <%= form.radio_button :category, :both %>
  </div>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :職種 %>
    <%= form.collection_select( :occupation_id, occupations, :id, :category) %>
  </div>

  <div class="field form-group form-group-lg">
    <%= form.label :industry_list, "業種" %>
    <%= text_field_tag 'recruitment[industry_list]', @recruitment.industry_list.join(',') %>
  </div>

  <div class="field form-group form-group-lg">
    <%= form.label :interest_list, "どんな人にオススメか？" %>
    <%= text_field_tag 'recruitment[interest_list]', @recruitment.interest_list.join(',') %>
  </div>

  <div class="field">
    <%= form.label :郵便番号 %>
    <%= form.text_field :address_zipcode %>
  </div>

  <div class="field">
    <%= form.label :都道府県 %>
    <%= form.text_field :prefecture %>
  </div>

  <div class="field">
    <%= form.label :市区町村 %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :番地 %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :data, 'PR画像:' %>
    <%= form.file_field :data%>
  </div>

  <div class="field">
    <%= form.label :「何をやるの？」 %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :「どんな会社？」 %>
    <%= form.text_area :culture %>
  </div>

  <%# <div class="field"> %>
    <%#= form.label :締め切り %>
    <%#= form.date_select :deadline %>
  <%# </div> %>

  <%# <p>応募者への質問を5つまで設定できます</p> %>

  <%# <div class="field"> %>
    <%#%= form.label :質問1 %>
    <%#= form.text_area :question1 %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%#= form.label :質問2 %>
    <%#= form.text_area :question2 %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%#= form.label :質問3 %>
    <%#= form.text_area :question3 %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%#= form.label :質問4 %>
    <%#= form.text_area :question4 %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%#= form.label :質問5 %>
    <%#= form.text_area :question5 %>
  <%# </div> %>

  <div class="field">
    <%= form.label :定員数 %>
    <%= form.text_field :capacity %>
  </div>

  <%# <div class="field"> %>
    <%#= form.label :日程 %>
    <%#= form.date_select :schedule %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%#%= form.label :開始時間 %>
    <%#= form.time_select :start_time %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%#= form.label :終了時間 %>
    <%#= form.time_select :end_time %>
  <%# </div> %>

<%# 臨時で給料→元は持ち物 %>
  <div class="field">
    <%= form.label :給料 %>
    <%= form.text_field :belongings %>
  </div>

<%# 臨時で求人番号→元は服装 %>
  <div class="field">
    <%= form.label :求人番号 %>
    <%= form.text_field :clothing %>
  </div>

  <div class="field">
    <%= form.label :その他注意事項など %>
    <%= form.text_area :notices %>
  </div>

  <div class="field">
    <%= form.label '下書き' %>
    <%= form.radio_button :status, :draft %>
    <%= form.label '公開' %>
    <%= form.radio_button :status, :published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>