<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @recruitment.company %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @recruitment.occupation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recruitment.status %>
</p>

<p>
  <strong>photo:</strong>
  <%= image_tag(url_for(controller: :get_photo, :id => @recruitment), :size => '100x100') %>
  <%#= image_tag(url_for(@recruitment, action: :get_photo), :size => '100x100') %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recruitment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recruitment.body %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @recruitment.deadline %>
</p>

<%= link_to 'Edit', edit_recruitment_path(@recruitment) %> |
<%= link_to 'Back', recruitments_path %>
