<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @recruitment.company.name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @recruitment.occupation.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recruitment.status %>
</p>

<p>
  <strong>photo:</strong>
  <%= image_tag(@url, :size => '100x100') %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recruitment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recruitment.body %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @recruitment.deadline %>
</p>

<p>
  <strong>質問①:</strong>
  <%= @recruitment.question1 %>
</p>

<%= link_to 'Edit', edit_recruitment_path(@recruitment) %> |
<%= link_to 'Back', recruitments_path %>
