<p id="notice"><%= notice %></p>

<h1>
  <%= @recruitment.company.name %>
</h1>

<p>
  <strong>職種:</strong>
  <%= @recruitment.occupation.category %>
</p>

<p>
  <%= image_tag(@url, :size => '100x100') %>
</p>

<h1>
  <%= @recruitment.title %>
</h1>

<p>
  <%= @recruitment.body %>
</p>

<p>
  <strong>応募締め切り:</strong>
  <%= @recruitment.deadline %>
</p>
  
<%
=begin
%>
<% if @recruitment.question1 %>
  <p>
    <strong>質問①:</strong>
    <%= @recruitment.question1 %>
  </p>
<% end %>

<% if @recruitment.question1 %>
  <p>
    <strong>質問②:</strong>
    <%= @recruitment.question2 %>
  </p>
<% end %>

<p>
  <strong>Status:</strong>
  <%= @recruitment.status %>
</p>

<%= link_to 'Edit', edit_recruitment_path(@recruitment) %> |
<%= link_to 'Back', recruitments_path %>

<%
=end
%>  

