<p id="notice"><%= notice %></p>

<h1>応募一覧</h1>


<% @entries.each do |entry| %>
  <p>
    <%= link_to "#{entry.recruitment.title}", recruitment_path(entry.recruitment_id) %>
    締め切り
    <%= entry.recruitment.deadline %>
    <%= show_status(entry) %>
    <% if entry.draft? %>
      <%= link_to '編集', edit_entry_path(entry) %>
    <% end %>
  </p>
<% end %>

