<p id="notice"><%= notice %></p>

<p>
  <%= @entry.user.name %>
</p>

<% unless @recruitment.question1.blank? %>
  <p><%= @recruitment.question1 %></p>
  <p><%= @entry.answer1 %></p>
<% end %>

<% unless @recruitment.question2.blank? %>
  <p><%= @recruitment.question2 %></p>
  <p><%= @entry.answer2 %></p>
<% end %>

<% unless @recruitment.question3.blank? %>
  <p><%= @recruitment.question3 %></p>
  <p><%= @entry.answer3 %></p>
<% end %>

<% unless @recruitment.question4.blank? %>
  <p><%= @recruitment.question4 %></p>
  <p><%= @entry.answer4 %></p>
<% end %>

<% unless @recruitment.question5.blank? %>
  <p><%= @recruitment.question5 %></p>
  <p><%= @entry.answer5 %></p>
<% end %>

<% if @entry.draft? %>
  <%= link_to 'Edit', edit_entry_path(@entry) %> 
<% else %>
  <p>上記の内容で応募が完了しています。</p>
<% end %>
<% if current_staff %>
  <p><%= link_to('応募者情報', user_path(@entry.user)) %></p>
<% end %>
<%= link_to '戻る', :back %>
