<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <%# <div class="field"> %>
    <%#= form.label :password_digest %>
    <%#= form.text_field :password_digest %>
  <%# </div> %>

    <div class="field">
    <%= form.label :password, 'パスワード' %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'パスワード再入力' %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :dm %>
    <%= form.check_box :dm %>
  </div>

  <div class="field">
    <%= form.label :school_year %>
    <%= form.number_field :school_year %>
  </div>

  <div class="field">
    <%= form.label :school_name %>
    <%= form.text_field :school_name %>
  </div>

  <div class="field">
    <%= form.label :school_course %>
    <%= form.number_field :school_course %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
