<%= form_with(model: entry_sheet, local: true) do |form| %>
  <% if entry_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry_sheet.errors.count, "error") %> prohibited this entry_sheet from being saved:</h2>

      <ul>
      <% entry_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :recruitment_id %>
    <%= form.text_field :recruitment_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :why %>
    <%= form.text_area :why %>
  </div>

  <div class="field">
    <%= form.label :what %>
    <%= form.text_area :what %>
  </div>

  <div class="field">
    <%= form.label :how %>
    <%= form.text_area :how %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
