<p id="notice"><%= notice %></p>

<h1>Entry Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Recruitment</th>
      <th>Status</th>
      <th>Why</th>
      <th>What</th>
      <th>How</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_sheets.each do |entry_sheet| %>
      <tr>
        <td><%= entry_sheet.student %></td>
        <td><%= entry_sheet.recruitment %></td>
        <td><%= entry_sheet.status %></td>
        <td><%= entry_sheet.why %></td>
        <td><%= entry_sheet.what %></td>
        <td><%= entry_sheet.how %></td>
        <td><%= link_to 'Show', entry_sheet %></td>
        <td><%= link_to 'Edit', edit_entry_sheet_path(entry_sheet) %></td>
        <td><%= link_to 'Destroy', entry_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry Sheet', new_entry_sheet_path %>
