<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @entry_sheet.student %>
</p>

<p>
  <strong>Recruitment:</strong>
  <%= @entry_sheet.recruitment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @entry_sheet.status %>
</p>

<p>
  <strong>Why:</strong>
  <%= @entry_sheet.why %>
</p>

<p>
  <strong>What:</strong>
  <%= @entry_sheet.what %>
</p>

<p>
  <strong>How:</strong>
  <%= @entry_sheet.how %>
</p>

<%= link_to 'Edit', edit_entry_sheet_path(@entry_sheet) %> |
<%= link_to 'Back', entry_sheets_path %>
