<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @stock.user.id %>
</p>

<p>
  <strong>Recruitment:</strong>
  <%= @stock.recruitment.id %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
