<p>
  <strong>氏名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @user.birth %>
</p>
<p>
  <strong>学年:</strong>
  <%= @user.school_year %>
</p>
<p>
  <strong>学校名:</strong>
  <%= @user.school_name %>
</p>
<% if current_user %>
  <%= link_to '編集', edit_user_path(@user) %>
<% end %>
<%= link_to '戻る', :back %>