<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @industry.category %>
</p>

<p>
  <strong>Interests count:</strong>
  <%= @industry.interests_count %>
</p>

<%= link_to 'Edit', edit_industry_path(@industry) %> |
<%= link_to 'Back', industries_path %>
