<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name, '会社名' %>
    <%= form.text_field :name %>
  </div>

  <div class="field form-group form-group-lg">
    <%= form.label :industry_list, "業種" %>
    <%= text_field_tag 'company[industry_list]', @company.industry_list.join(',') %>
  </div>

  <%# <div class="field"> %>
    <%#= form.label :password_digest %>
    <%#= form.text_field :password_digest %>
  <%# </div> %>

  <div class="field">
    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'パスワード再入力' %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :established, '設立年月日' %>
    <%= form.date_select :established %>
  </div>

  <div class="field">
    <%= form.label :url, 'ウェブページURL' %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
