<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>設立年:</strong>
  <%= @company.established %>
</p>

<p>
  <%= link_to '企業ホームページ', @company.url %>
</p>
<% if session[:teacher] %>
  <%= render 'buttons', company: @company, following: @following %>
<% end %>

<%= link_to '戻る', url_for(:back)  %> 
