<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @company.password_digest %>
</p>

<p>
  <strong>Established:</strong>
  <%= @company.established %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>

<%= link_to 'トップページへ戻る', root_path %> |
<%= link_to '次へ進む', new_staff_path(@company) %> 
