<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>設立年:</strong>
  <%= @company.established %>
</p>

<p>
  <%= link_to '企業ホームページ', @company.url %>
</p>

<%= render 'buttons', company: @company, teacher: @teacher %>

<%= link_to '戻る', url_for(:back)  %> 
