<p id="notice"><%= notice %></p>
<p style="color: Red"><%= @error %></p>
<%= form_tag controller: :login, action: :index do %>
  <div class="field">
    <%= label_tag :email, 'email' %><br/>
    <%= text_field_tag :email, '', size: 20 %>
  </div>
  <div class="field">
    <%= label_tag :password, 'パスワード' %><br/>
    <%= password_field_tag :password, '', size: 20 %>
  </div>
  <%= hidden_field_tag :referer, flash[:referer] %>
  <%= submit_tag 'ログイン' %>
<% end %>

<h1>教員用新規登録</h1>
<div class="d-flex">
  <%= link_to '新規作成', new_teacher_path, class: :'btn btn-success' %>
</div>

<%= link_to '戻る', root_path %>