<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>学校名:</strong>
  <%= @teacher.school.name %>
</p>

<p>
  <%= link_to '学校情報確認', school_path(@teacher.school) %>
</p>

<p>
  <%= link_to '登録企業一覧', companies_path %>
</p>

<p>
  <%= link_to '生徒一覧', students_path %>
</p>

<p>
  <%= link_to 'フォローしている会社一覧', followings_path %>
</p>

<p>
  <%= link_to 'チャット一覧', rooms_path %>
</p>

<p><%= link_to 'マイページ編集', edit_teacher_path(@teacher) %></p>
<p><%= link_to '戻る', :back %></p>