<h1><%= @chat.school.name %></h1>
<h1><%= @chat.company.name %></h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
  <input id="room_id" name="room_id" type="hidden" value="<%= @chat.id %>">
</form>

<%= link_to '戻る', :rooms %> 