<%= form_with(model: school, local: true, mltipart: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>
      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%#%= form.hidden_field :company_id, :value => staff.company_id %>

  <div class="field">
    <%= form.select :category, School.categories.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= form.label :学校紹介 %>
    <%= form.text_area :overview %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>