<p id="notice"><%= notice %></p>

  <% @recruitments.each do |recruitment| %>
    <%# <tr> %>
    <article>
      <div>
        <h1><%= recruitment.company.name %></h1>
        <p><%= recruitment.occupation.category %></p>
        <h2><%= recruitment.title %></h2>
        <%= image_tag(url_for(controller: :get_photo, :id => recruitment), :size => '100x100') %>
        <p><%= recruitment.body %></p>
        <p><%= recruitment.deadline %></p>
      <%# </tr> %>
      </div>
    </article>
  <% end %>

<br>

<%= link_to 'New Recruitment', new_recruitment_path %>
