<!DOCTYPE html>
<html>
  <head>
    <title>Trigger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <%= link_to "Trigger", root_path, class: :'navbar-brand'%>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'chat_test', room_path(id: 1), class: :'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'インターン情報一覧へ', root_path, class: :'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to '採用情報一覧へ', top_jobs_path, class: :'nav-link' %>
          </li>

          <% if session[:staff] %>
            <li class="nav-item">
              <%= link_to '採用者用ページ', recruitment_list_index_path, class: :'nav-link'%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '掲載を希望される企業様', login_staff_path, class: :'nav-link nav-link-left'%>
            </li>
          <% end %>

          <% if session[:teacher] %>
            <li class="nav-item">
              <%= link_to '高校教員用ページ', root_path, class: :'nav-link'%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '高校教員用入口', login_teacher_path, class: :'nav-link nav-link-left'%>
            </li>
          <% end %>
          
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "ログアウト", login_logout_path, class: :'nav-link'%>
          </li>
        
          <% if current_user %>
            <li class="nav-item">
              <%= link_to 'お気に入り', stocks_path(id: current_user), class: :'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to '応募一覧', entries_path(id: current_user), class: :'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user), class: :'nav-link' %>
            </li>

          <% else %>
            <li class="nav-item active">
              <%= link_to 'ログイン', login_user_path, class: :'nav-link'%>
            </li>
          <% end %>
        </ul>

        <%# if current_user %>
          <%# <p>ようこそ= current_user.nameさん</p> %>
        <%# end %>
        <%# <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> %>
      </div>
    </nav>
  
    <%= yield %>
    <%# ↓deviseの設定。%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# firebase %>
    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase.js"></script>
  </body>
</html>
