<!DOCTYPE html>
<html>
  <head>
    <title>Trigger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <%= link_to "Trigger", top_jobs_path, class: :'navbar-brand'%>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'インターン情報一覧へ', root_path, class: :'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to '採用情報一覧へ', top_jobs_path, class: :'nav-link' %>
          </li>
          
        </ul>
        <ul class="navbar-nav">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to 'お気に入り', stocks_path(id: current_user), class: :'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to '応募一覧', entries_path, class: :'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user), class: :'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to "ログアウト", login_logout_path, class: :'nav-link'%>
            </li>

          <% elsif current_teacher %>
            <li class="nav-item">
              <%= link_to '高校教員用ページ', teacher_path(session[:teacher]), class: :'nav-link'%>
            </li>

            <li class="nav-item">
              <%= link_to "ログアウト", login_logout_path, class: :'nav-link'%>
            </li>

          <% elsif current_staff %>
            <li class="nav-item">
              <%= link_to '採用担当者用ページ', staff_path(current_staff), class: :'nav-link'%>
            </li>

            <li class="nav-item">
              <%= link_to '登録高校一覧', schools_path, class: :'nav-link'%>
            </li>

            <li class="nav-item">
              <%= link_to "ログアウト", login_logout_path, class: :'nav-link'%>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to '高校教員用入口', login_teacher_path, class: :'nav-link nav-link-left'%>
            </li>

            <li class="nav-item">
              <%= link_to '掲載を希望される企業様', login_staff_path, class: :'nav-link nav-link-left'%>
            </li>

            <li class="nav-item active">
              <%= link_to 'ログイン', login_user_path, class: :'nav-link'%>
            </li>
          <% end %>
        </ul>

      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
  </body>
</html>
